.projectCard {
	background-color: #535961;
	padding: 4%;
	border-radius: 15px;
	box-shadow: #000 0px 0px 5px;
}

.options {
	display: flex;
	justify-content: start;
	height: 10px;
	gap: 5px;
}
.red {
	background-color: #ff605c;
	width: 10px;
	border-radius: 100%;
}
.yellow {
	background-color: #ffbd44;
	width: 10px;
	border-radius: 100%;
}
.green {
	background-color: #00ca4e;
	width: 10px;
	border-radius: 100%;
}

.project {
	padding-top: 15px;
	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}

.imgDiv img {
	width: 100%;
	height: 180px;
	border-radius: 10px;
}

.projectDetails {
	height: 70px;
}
.projectDetails h1 {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.projectDetails p {
	font-size: 14px;
	color: #fff;
}

.btnContainer {
	display: flex;
	gap: 20px;
	padding: 0 30px;
	justify-content: center;
}

