.home {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 50px 0;
}

.card {
	padding: 0 8%;
	background-color: var(--secondary);
	border-radius: 15px;
	color: var(--primary-font-color);
	box-shadow: #000 0px 0px 10px;
}

.divImg {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.divTitle {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.divTitle h1 {
	font-size: 70px;
}
.divTitle p {
	font-size: 30px;
}
.title {
	margin-bottom: 30px;
}

.homeImg {
	border-radius: 100%;
	width: 50%;
	height: 70%;
	box-shadow: #000 0px 0px 10px;
}

.btnDiv {
	display: flex;
	width: 100%;
	gap: 50px;
}

@media (max-width: 1024px) {
	.divImg {
		display: none;
	}

	.divTitle {
		width: 100%;
	}

	.btnDiv {
		flex-direction: column;
		align-items: center;
	}

	.divTitle p {
		font-size: 23px;
	}
}

@media (max-width: 425px) {
	.divTitle p {
		font-size: 20px;
	}
}
