.navbar {
	position: fixed;
	top: 0;
	left: 8%;
	right: 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #777;
	padding: 10px 15px;
	background: var(--primary);
}

.logo {
	height: 50px;
	font-size: 50px;
	color: #61dbfb;
}

ul {
	list-style: none;
	display: flex;
	gap: 1rem;
}

a,
a::before,
a::after {
	font-size: 25px;
	text-decoration: none;
	cursor: pointer;
	color: var(--primary-font-color);
	transition: ease 0.3s;
}
a:hover {
	color: var(--secondary-font-color);
}
