@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

:root {
	--primary: #222831;
	--secondary: #393e46;
	--primary-font-color: #eeeeee;
	--border: #00adb5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: var(--primary);
}

.container {
	padding: 0 10%;
}

#Home {
	margin: 5% 0;
}

#About {
	margin-bottom: 5%;
}

#Projects {
	margin-bottom: 5%;
}
